{% extends 'base.html' %}
{% block content %}
    <img src="/uploads/{{ photo.image }}" alt="#" width="250px" height="auto">
    <p>{{ photo.caption }}</p>
    <a href="{% url 'profile' photo.author.pk %}">Автор: {{ photo.author }}</a>
    <p>Дата создания: {{ photo.created_at }}</p>
    <h4>Пользователи добавившие в избранное:</h4>
    <ul>
        {% for user in favorited_users %}
            <li>
                <a href="{% url 'profile' user.pk %}">{{ user.username }}</a>
            </li>

        {% empty %}
            <li>
                <p>Никто еще не добавил это фото в избранное</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}