{% extends 'base.html' %}
{% block content %}
    <img src="/uploads/{{ photo.image }}" alt="#" width="250px" height="250px">
    <p>{{ photo.caption }}</p>
    <p>Автор: {{ photo.author }}</p>
    <p>Дата создания: {{ photo.created_at }}</p>
    <h4>Пользователи добавившие в избранное:</h4>
    <ul>
        {% for user_profile in favorited_users %}
            <li>
                <a href="">{{ user_profile.first_name }}</a>
            </li>
            </ul>
        {% empty %}
            <li>
                <p>Никто еще не добавил это фото в избранное</p>
            </li>
        {% endfor %}
{% endblock %}