{% extends 'base.html' %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
{% block content %}
    <h3 class="d-flex justify-content-center my-3">Галерея(Галера)</h3>

    <div class="list d-flex justify-content-center">
        <ul>
            {% for photo in photos %}
                <li class="mb-4">
                    <img src="uploads/{{ photo.image }}" alt="{{ photo.caption }}" width="250px" height="250px">
                    <p>{{ photo.caption }}</p>
                    <p>Автор: {{ photo.author }}</p>
                    <p>Дата создания: {{ photo.created_at }}</p>
                    <a class="btn btn-primary btn-sm" href="{% url 'photo_detail' photo.pk %}">Подробнее</a>
                    {% if user.is_authenticated %}
                        <button class="btn btn-primary btn-sm my-2 favorite-btn" data-photo-id="{{ photo.id }}">
                            {% csrf_token %}
                            {% if photo in account.favorites.all %}
                                Удалить из избранного
                            {% else %}
                                Добавить в избранное
                            {% endif %}
                        </button>
                    {% endif %}
                    <hr>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        $(document).ready(function () {
            $('favorite-btn').click();
            let button = $(this);
            let photoId = button.data('photo-id')
            console.log(photoId)
            let url = button.hasClass('favorite') ? '/favorites/remove/' + photoId + '/' : '/favorites/add/';

            $.ajax({
                url: url,
                method: 'POST',
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function (data) {
                    button.toggleClass('favorite');
                    if (button.hasClass('favorite')) {
                        button.text('Удалить из избранного');
                    } else {
                        button.text('Добавить в избрранное');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error)
                }

            });
        });
    </script>
{% endblock %}